<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="border-top">
          <div class="card-body">

            <!-- <h5 class="card-title">Medium Buttons</h5>
            <button type="button" class="btn btn-primary">
              Primary
            </button>
            <button type="button" class="btn btn-secondary">
              Secondary
            </button>
            <button type="button" class="btn btn-success text-white">
              Success
            </button>
            <button type="button" class="btn btn-danger text-white">
              Danger
            </button>
            <button type="button" class="btn btn-warning">
              Warning
            </button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>
            <button
              type="button"
              class="btn btn-link text-decoration-none"
            >
              Link
            </button> -->

          </div>
        </div>
      </div>
    </div>
  </div>
